{
  "version": 6,
  "include": ["CMakePresets.json"],
  "configurePresets": [
    {
      "name": "local-vcpkg",
      "hidden": true,
      "environment": {
        "VCPKG_ROOT": "$penv{HOME}/Tools/vcpkg"
      }
    },
    {
      "name": "local-debug",
      "displayName": "Debug (local macOS)",
      "inherits": ["local-vcpkg", "debug"],
      "binaryDir": "${sourceDir}/.build/debug",
      "installDir": "${sourceDir}/out/debug"
    },
    {
      "name": "local-release",
      "displayName": "Release (local macOS)",
      "inherits": ["local-vcpkg", "release"],
      "binaryDir": "${sourceDir}/.build/release",
      "installDir": "${sourceDir}/out/release"
    }
  ],
  "buildPresets": [
    {
      "name": "local-debug",
      "inherits": "debug",
      "configurePreset": "local-debug"
    },
    {
      "name": "local-release",
      "inherits": "release",
      "configurePreset": "local-release"
    },
    {
      "name": "local-package",
      "inherits": "package",
      "configurePreset": "local-release"
    }
  ]
}
